<!DOCTYPE html>
<html>
  <head>
    <title>TimesheetVuejs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>

    <div id="app">
      <%= yield %>
    </div>

    <%= render partial: 'shared/footer' %>

    <%= javascript_pack_tag 'main' %>
  </body>
</html>
